.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.container {
	margin: 20px;
}
.product-header {
	text-align: center;
	padding: 10px;
	margin-bottom: 30px;
	background: red;
	color: white;
}

.filterForm input {
	margin-right: 4px;
}

.filterForm label {
	margin-right: 32px;
}

.productlist li {
		list-style: none;
		width: 48%;
		height: 400px;
		float: left;
		margin-right: 5px;
		margin-bottom: 10px;
		border: 1px solid #aaa;
		padding: 10px;
	}

.productlist li button {
		background: red;
		color: white;
	}


.productlist li img {
		width: 90%;
	}

.filteredBy {
	border: 1px solid;
	border-radius: 8px;
	padding: 6px;
	margin-right: 4px;
	display: inline-block;
	margin-bottom: 4px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
